#!/usr/bin/env bash
export NIX_CONFIG="extra-experimental-features = flakes nix-command"

use nix # put in your environnement everything needed if you use [Nix](https://nixos.org)

source_env_if_exists ../.envrc

strict_env

PATH_add . # needed to use `pc` script

git config --local commit.template .git-commit-message-template

git config init.defaultBranch master # needed by some of my git aliases

pc install-hooks

PATH_add .bin
