#!/usr/bin/env bash
export NIX_CONFIG="extra-experimental-features = flakes nix-command"

if [ -f "./flake.nix" ]; then
    FLAKE_PATH="."
else
    FLAKE_PATH="github:bruno-ebstein-pass-culture/pass-culture-main/nix"
fi
use flake "${FLAKE_PATH}" || # put in your environnement _almost_ everything needed when you use [Nix](https://nixos.org)
    # sometimes it fails with the following error for some reasons, avoid them by manually calling nix develop
    # cannot link '...' to '...': File exists
    # error: some substitutes for the outputs of derivation '...' failed (usually happens due to networking issues); try '--fallback' to build derivation from source
    nix develop "${FLAKE_PATH}" --option build-fallback true --command true && use flake "${FLAKE_PATH}"

source_env_if_exists ../.envrc

strict_env

PATH_add . # needed to use `pc` script

git config --local commit.template .git-commit-message-template

git config init.defaultBranch master # needed by some of my git aliases

pc install-hooks

PATH_add .bin
