#!/usr/bin/env bash
source_up

if [ -f "./flake.nix" ]; then
    FLAKE_PATH="."
else
    FLAKE_PATH="github:bruno-ebstein-pass-culture/pass-culture-main/nix?dir=api"
fi
use flake "${FLAKE_PATH}" # put in your environnement _almost_ everything needed when you use [Nix](https://nixos.org)

strict_env

layout python3

if ! has bpython; then
    pip install bpython # python with autocompletion ; broken on Nix
fi
export PYTHONBREAKPOINT="bpdb.set_trace" # `breakpoint()` with autocompletion

if ! ( (has flask) && (has pylint) && (has pytest) && (has black)); then
    path_add LIBRARY_PATH /usr/local/opt/openssl/lib/ # needed to install psycopg2
    pip install --requirement requirements.txt
fi

if ! python -c 'import pcapi' >/dev/null 2>&1; then
    pip install --editable .
fi
python -c 'import pcapi' && echo 'self install ok' || echo 'self install dead'
